@model Student

<form asp-action="New" method="Post" asp-controller="Student" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    
    <input asp-for="Id" type="hidden"/>
    <input name="IsEditMode" id="IsEditMode" value="@ViewBag.IsEditMode" type="hidden"/>
    
@**Students Profile**@   
    <div class="card">
    <div class="card-body">
                        
        <h5 class="text-center"> Student's Profile</h5>
        <div class="form-row">
            <label>Upload Photo</label>
            <input asp-for="ImageUrl" type="file" id="file" name="file" class="form-control"/>
        
        </div>
        
        <div class="form-row">
            <div class="col">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="MiddleName"></label>
                <input asp-for="MiddleName" class="form-control"/>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Nationality"></label>
                <select asp-for="Nationality" class="form-control"> 
                    <option value="Ugandan">Ugandan</option>
                    <option value="Kenyan">Kenyan</option>
                    <option value="Tanzanian">Tanzanian</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Rwanda">Rwanda</option>
                </select>
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="Gender"></label>
                <select asp-for="Gender" class="form-control"> 
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Religion"></label>
                <select asp-for="Religion" class="form-control"> 
                    <option value="Muslim">Muslim</option>
                    <option value="Christian">Christian</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="Religion" class="text-danger"></span>
            </div>
        </div>
        
            
        <div class="form-row">
            <div class="col">
                <label asp-for="HomeAddress"></label>
                <input asp-for="HomeAddress" class="form-control"/>
                <span asp-validation-for="HomeAddress" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="CountryOfResidence"></label>
                <select asp-for="CountryOfResidence" class="form-control"> 
                    <option value="Ugandan">Ugandan</option>
                    <option value="Kenyan">Kenyan</option>
                    <option value="Tanzanian">Tanzanian</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Rwanda">Rwanda</option>
                </select>
                
                <span asp-validation-for="CountryOfResidence" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control"/>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" class="form-control"/>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>       
        <div class="form-row">
            <div class="col">
                <label asp-for="MedicalCondition"></label>
                <select asp-for="MedicalCondition" class="form-control"> 
                    <option value="Good">Good</option>
                    <option value="Critical">Critical</option>
                    <option value="Fair">Fair</option>
                </select>
                <span asp-validation-for="MedicalCondition" class="text-danger"></span>
            </div>
        </div>               
           
        <br/>
        <br/>
    </div>
    </div>

@**Education**@
    <br/>
    <br/>
<div class="card">
    <div class="card-body">
        <h5 class="text-center"> Education.</h5>
        <div class="form-row">
            <div class="col">
                <label asp-for="Education.School"></label>
                <input asp-for="Education.School" class="form-control"/>
                <span asp-validation-for="Education.School" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Education.AddressOfSchool"></label>
                <input asp-for="Education.AddressOfSchool" class="form-control"/>
                <span asp-validation-for="Education.AddressOfSchool" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="Education.HeadTeacher"></label>
                <input asp-for="Education.HeadTeacher" class="form-control"/>
                <span asp-validation-for="Education.HeadTeacher" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Education.Telephone"></label>
                <input asp-for="Education.Telephone" class="form-control"/>
                <span asp-validation-for="Education.Telephone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
               
            <div class="col">
                <label asp-for="Education.EducationLevel"></label>
                <select  asp-for="Education.EducationLevel" class="form-control"> 
                    <option value="Nursery<">Nursery</option>
                    <option value="Primary">Primary</option>
                    <option value="Secondary">Secondary</option>
                </select>
                <span asp-validation-for="Education.EducationLevel" class="text-danger"></span>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</div>
<br/>
<br/>

@**Parent Details**@

    <div class="card">
        <div class="card-body">
         <h5 class="text-center"> Parents.</h5>
        <div class="form-row">
        <div class="col">
            <label asp-for="Parents.ReligionOfDeceasedFather"></label>
            <select asp-for="Parents.ReligionOfDeceasedFather" class="form-control"> 
                <option value="Muslim">Muslim</option>
                <option value="Christian">Christian</option>
                <option value="Other">Other</option>
            </select>
            <span asp-validation-for="Parents.ReligionOfDeceasedFather" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Parents.ReligionOfDeceasedMother"></label>
            <select asp-for="Parents.ReligionOfDeceasedMother" class="form-control"> 
                <option value="Muslim">Muslim</option>
                <option value="Christian">Christian</option>
                <option value="Other">Other</option>
            </select>
            <span asp-validation-for="Parents.ReligionOfDeceasedMother" class="text-danger"></span>
        </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="Parents.DateOfDemiseOfFather"></label>
                <input asp-for="Parents.DateOfDemiseOfFather" class="form-control"/>
                <span asp-validation-for="Parents.DateOfDemiseOfFather" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Parents.DateOfDemiseOfMother"></label>
                <input asp-for="Parents.DateOfDemiseOfMother" class="form-control"/>
                <span asp-validation-for="Parents.DateOfDemiseOfMother" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="Parents.NamesOfMother"></label>
                <input asp-for="Parents.NamesOfMother" class="form-control"/>
                <span asp-validation-for="Parents.NamesOfMother" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Parents.NamesOfFather"></label>
                <input asp-for="Parents.NamesOfFather" class="form-control"/>
                <span asp-validation-for="Parents.NamesOfFather" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="Parents.ReligionOfMother"></label>
                <input asp-for="Parents.ReligionOfMother" class="form-control"/>
                <span asp-validation-for="Parents.ReligionOfMother" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Parents.MaritalStatusOfMother"></label>
                <select asp-for="Parents.MaritalStatusOfMother" class="form-control"> 
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
    
                </select>

                
                <span asp-validation-for="Parents.MaritalStatusOfMother" class="text-danger"></span>
            </div>
        </div>
            <div class="form-row">
                <div class="col">
                    <label asp-for="Parents.OccupationOfMother"></label>
                    <input asp-for="Parents.OccupationOfMother" class="form-control"/>
                    <span asp-validation-for="Parents.OccupationOfMother" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Parents.MonthlyIncome"></label>
                    <input asp-for="Parents.MonthlyIncome" class="form-control"/>
                    <span asp-validation-for="Parents.MonthlyIncome" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-row">
                <div class="col">
                    <label asp-for="Deceased"></label>
                    <select asp-for="Deceased" class="form-control"> 
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    <span asp-validation-for="Deceased" class="text-danger"></span>
                </div>
            </div>
        </div>
</div>

<br/>
<br/>

@**Guardian Details**@

<div class="card">
    <div class="card-body">
        <h5 class="text-center"> Guardian.</h5>
        <div class="form-row">
            <div class="col">
                <label asp-for="Guardian.FirstName"></label>
                <input asp-for="Guardian.FirstName" class="form-control"/>
                <span asp-validation-for="Guardian.FirstName" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Guardian.MiddleName"></label>
                <input asp-for="Guardian.MiddleName" class="form-control"/>
                <span asp-validation-for="Guardian.MiddleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="Guardian.LastName"></label>
                <input asp-for="Guardian.LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Guardian.RelationshipToOrphan"></label>
                <input asp-for="Guardian.RelationshipToOrphan" class="form-control"/>
                <span asp-validation-for="Guardian.RelationshipToOrphan" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="Guardian.Occupation"></label>
                <input asp-for="Guardian.Occupation" class="form-control"/>
                <span asp-validation-for="Guardian.Occupation" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Guardian.MonthlyIncome"></label>
                <input asp-for="Guardian.MonthlyIncome" class="form-control"/>
                <span asp-validation-for="Guardian.MonthlyIncome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="Guardian.EmployersName"></label>
                <input asp-for="Guardian.EmployersName" class="form-control"/>
                <span asp-validation-for="Guardian.EmployersName" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Guardian.WorkAddress"></label>
                <input asp-for="Guardian.WorkAddress" class="form-control"/>
                <span asp-validation-for="Guardian.WorkAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="Guardian.MobileNo"></label>
                <input asp-for="Guardian.MobileNo" class="form-control"/>
                <span asp-validation-for="Guardian.MobileNo" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Guardian.PhysicalLocation"></label>
                <input asp-for="Guardian.PhysicalLocation" class="form-control"/>
                <span asp-validation-for="Guardian.PhysicalLocation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label asp-for="Guardian.Comments"></label>
                <input asp-for="Guardian.Comments" class="form-control"/>
                <span asp-validation-for="Guardian.Comments" class="text-danger"></span>
            </div>
        </div>
        <br/>
        <br/>
    </div>
    </div>
    <br/>
    <br/>
    @**Siblings**@
    <div class="card">
        <div class="card-body">
            <h5 class="text-center"> Siblings.</h5>
            <div class="form-row">
                <div class="col">
                    <label asp-for="Siblings.NumberOfBrothers"></label>
                    <input asp-for="Siblings.NumberOfBrothers" class="form-control"/>
                    <span asp-validation-for="Siblings.NumberOfBrothers" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Siblings.NumberOfSisters"></label>
                    <input asp-for="Siblings.NumberOfSisters" class="form-control"/>
                    <span asp-validation-for="Siblings.NumberOfSisters" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

<br/>
<br/>
<div class="form-group">
    <input asp-for="FirstName" type="submit" value="Save Student" class="btn btn-primary"/>
    <a  asp-action="Index" asp-controller="Student"  class="btn btn-warning">Cancel</a>
</div>

</form>
