.idea
.idea/
.vs
.vs/
.idea/.idea.ICFERApp/.idea/workspace.xml
ICFERApp/.DS_Store
ICFERApp/Controllers/StudentController.cs
ICFERApp/ICFERApp.csproj
ICFERApp/bin/Debug/netcoreapp2.2/ICFERApp.Views.dll
ICFERApp/bin/Debug/netcoreapp2.2/ICFERApp.Views.pdb
ICFERApp/bin/Debug/netcoreapp2.2/ICFERApp.deps.json
ICFERApp/bin/Debug/netcoreapp2.2/ICFERApp.dll
ICFERApp/bin/Debug/netcoreapp2.2/ICFERApp.pdb
ICFERApp/obj/Debug/netcoreapp2.2/ICFERApp.RazorCoreGenerate.cache
ICFERApp/obj/Debug/netcoreapp2.2/ICFERApp.Views.dll
ICFERApp/obj/Debug/netcoreapp2.2/ICFERApp.Views.pdb
ICFERApp/obj/Debug/netcoreapp2.2/ICFERApp.assets.cache
ICFERApp/obj/Debug/netcoreapp2.2/ICFERApp.csproj.CoreCompileInputs.cache
ICFERApp/obj/Debug/netcoreapp2.2/ICFERApp.csproj.FileListAbsolute.txt
ICFERApp/obj/Debug/netcoreapp2.2/ICFERApp.csprojAssemblyReference.cache
ICFERApp/obj/Debug/netcoreapp2.2/ICFERApp.dll
ICFERApp/obj/Debug/netcoreapp2.2/ICFERApp.pdb
ICFERApp/obj/Debug/netcoreapp2.2/Razor/Views/Student/Index.g.cshtml.cs
ICFERApp/obj/ICFERApp.csproj.nuget.cache
ICFERApp/obj/ICFERApp.csproj.nuget.dgspec.json
ICFERApp/obj/project.assets.json
ICFERApp/obj/project.packagespec.json