@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>ICFERApp is a system for managing student's under Islamic Center For Education & Research.</p>

<p> This project was developed by <b>Lutaaya Huzaifah Idris</b> </p> 
